*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
}

.container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.banner {
	background-image: url(banner-bcg.jpg);
	background-size: cover;
	padding-top: 528px;
	padding-bottom: 140px;
}

.banner-title {
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 15px;
}

.banner-subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 20px;
}

.accent-color {
	color: #F48E0B;
}

.banner-slogan {
	font-weight: 700;
	font-size: 54px;
	line-height: 66px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 38px;
	padding-bottom: 38px;
	padding-right: 31px;
	padding-left: 31px;
	display: inline-block;
}

.banner-slogan span {
	margin-right: 52px;
}

/*.header-nav {
	display: inline-block;
}*/

.page-header-logo {
	font-size: 32px;
	font-weight: 700;
	color: #F1AD10;
	text-decoration: none;
	text-transform: uppercase;
}

.page-header-menu {
	list-style: none;
	display: inline;
	padding: 0;
	margin: 0 0 0 180px;
}

.header-menu-link {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #3D3D3D;
	text-transform: uppercase;

}

.page-header-menu li {
	display: inline;
	margin-left: 67px;
}

.header-menu-link-active {
	color: #F1B128;
}

.header-nav {
	border-bottom-style: solid;
	border-bottom-color: #F1B128;
	border-bottom-width: 3px;
}


.services {
	padding-bottom: 194px;
}

.section-header {
	text-align: center;
}

.section-title {
	font-weight: 700;
	font-size: 22px;
	line-height: 22px;
	text-transform: uppercase;
	color: #333333;
	margin-top: 0;
	margin-bottom: 0;
}

.section-subtitle {
	font-weight: 400;
	font-size: 17px;
	line-height: 24px;
	color: #4D4943;
	margin-top: 49px;
}

.section-line {
	width: 60px;
	height: 3px;
	background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
	margin-top: 48px;
	border: none;
}

.services-list {
	list-style: none;
	padding-left: 0;
	margin-top: 46px;
	margin-bottom: 0;
	display: flex;
	justify-content: space-between;
}

.services-item {
	width: 271px;
	border-bottom: 6px solid #333333;
	padding-bottom: 35px;
	text-align: center;
}

.services-item-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	color: #FFFFFF;
	width: 271.01px;
	height: 56px;
	padding-top: 22px;
	padding-bottom: 16px;
	background: #333333;
	margin-top: 0;
	margin-bottom: 30px;
}

.services-item-icon {
	margin-left: auto;
	margin-right: auto;
}

.services-item-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #505050;
	margin-top: 31px;
	margin-bottom: 24px;
	min-height: 70px;
}

.services-item-line {
	width: 66px;
	height: 6px;
	border: none;
	background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
}

.services-item-subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #505050;
	margin-top: 27px;
	margin-bottom: 13px;
}

.services-item-offers {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}


.services-item-offer {
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	color: #505050;
}

.about-us-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
}

.about-us-services {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 22px 30px;
	padding-left: 0;
	margin: 0;
}

.blog-list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-height: 850px;
	align-content: space-between;
}

.blog-item-link {
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 3px solid #333333;
}

.blog-item-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #333333;
	background-image: url(../blog-icon.png), linear-gradient(to right, #333333 0%, #333333 100%);
	background-size: auto 13px, 40px 35px;
	background-repeat: no-repeat;
	background-position: left 13px bottom 10px, left 0 bottom 0;
	padding-left: 48px;
	padding-top: 16px;
	padding-bottom: 6px;
	margin: 0;
}

.blog-item-text {
	border-bottom: 1px solid #C1C1C1;
}

.blog-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #505050;
}

.blog-item {
	width: 370px;
	margin-bottom: 31px;
}

.blog-item-date,
.blog-item-more {
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	color: #828282;
}

.blog-button {
	width: 235px;
	height: 54px;
	background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
	border: none;
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
	color: #FFFFFF;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 109px;
	margin-bottom: 109px;
}

